* {
	box-sizing: border-box; 
}
/* ширина блоку, в яку входить педінг і бордер */
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.header {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 25px 0;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
[class*="col-"] {
	float: left;
}
.row:after, .menu:after, .card:after {
	display: block;
	content: "";
	clear: both;
}
.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu a {
	display: block;
	text-decoration: none;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: 300;
	color: #2c71b8;
	font-size: 21px;
}
.menu a:hover {

	background-color: #2c71b8;
	color: white;
}
.logo {
	margin-top: 7px;
}

/* next point */

.search {
	padding-left: 30px;
}
.search form {
	margin-top: 5px;
	width: 200px;
	height: 40px;
	border: 1px solid #2c71b8;
}
.colortext {
	width: 160px;
	height: 37px;
	border: none;
	background-color: rgba(202, 219, 237, 0.1);
	color: #2c71b8;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 300;
	outline: none;
	position: absolute;
}
.search ::placeholder {
	color: #2c71b8;	
}
.search [type="text"] {
	padding-left: 20px;
}
.button {
	background-image: url(images/1.png);
	border: none;
	width: 30px;
	height: 30px;
	outline: none;
	position: relative;
	left: 163px;
	top: 4px;	
}

.col-9 {
	width: 75%;
}
.col-3{
	width: 25%;
	padding-top: 4px;
	padding-left: 40px;
}
.card {
	position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(images/2.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: 20px 20px;
}

.total_products {
	background-color: #2c71b8;
	color: white;
	border-radius: 15px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 15px;
	position: relative;
	top: -50px;
	right: 10px;
}
.submenu ul {
	margin: 0;
	padding: 0;
}
.submenu ul li {
	width: 294px;
}
.submenu a {
	
	padding-left: 32px;
	text-align: left;
	background-color: #2c71b8;
	color: white;
}
.submenu ul li a:hover{
	background-color: white;
	color: #2c71b8;
}
.submenu {
	position: absolute;	
	left: 146px;
}
.menu {
	position: relative;
}
.menu > li:hover a {
	background-color:#2c71b8;
	color:white;
}

nav ul ul  {
	display: none;
	position: absolute;	
}
nav ul li:hover .submenu ul {
	display: block;
}
.main_row {
	/* margin-top: 400px; */
	position: relative;
}
.main_col_3 {
	width: 25%;
}
.main_col_9 {
	width: 75%;
}
[class*="main_col"] {
	float: left;
}
.main_row::after {
	content: "";
	display: block;
	clear: both;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.breadcrumb, .title {
	list-style: none;
}
.breadcrumb li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}
.breadcrumb li {
	display: inline;
}
.breadcrumb li+li:before {
    color: rgba(255, 255, 255, 0.5);
	content: ">";
	padding-right: 4px;
}
.breadcrumb li a:hover {
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.5);
}
.title_of_products {
	padding-top: 25px;
	font-size: 48px;
	font-weight: 700;
	color: white;
	width: 75%;
}
.sort{
	width: 25%;
}
.title_of_products, .sort {
	float: left;
}
.sort:after {
	content: "";
	display: block;
	clear: both;
}
.sort {
	position: absolute;
	right: -16px;
	top: 45px;
}
.sub_sort{
	position: absolute;
	left: 0px;
	top: 40px;
	z-index: 50;
}
.sort a {
	text-decoration: none;
	color: white;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 300;
	padding-left: 20px;
	line-height: 40px;
	background-color: #2c71b8;
}
.sort ul {
	background-color: #2c71b8;
	width: 270px;
}
.sort li {
	height: 40px;
	border: 1px solid white;
}
.sort a:hover {
	color: #2c71b8;
	background-color: white;
}
.sort > li:hover a {
	background-color: white;
}
.sub_sort ul li a:hover{
	color: #2c71b8;
	background-color: white;
}
.sort ul ul {
	display: none;
}
.sort ul li:hover .sub_sort ul {
	display: block;
}
/* Доробити випадаюче меню в сортуванні */
.product_catalog {
	padding-top: 100px;
}
[class*="col_mc_"] {
	float: left;
	display: block;
	width: 270px;
	height: 650px;
}
.col_mc_1 {
	border: 1px solid white;
}
[class*="pic_like"] {
	
	cursor: pointer;

}
[class*="like_border"]:hover {
	background-color: #ffffff;
	cursor: pointer;
}
.liked:hover {
	background-color: #ffffff;
	cursor: pointer;
}

[class*="row_mc_"]:after {
	display: block;
	content: "";
	clear: both;
}
.pic_product {
	background-image: url(images/Фигура_4.png);
	width: 103px;
	height: 90px;
	position: absolute;
	left: 83px;
	top: 45px;
} 
[class*="image"]{
	background-color: rgba(255, 255, 255, 0.5);
	width: 270px;
	height: 180px;
	position: relative;
}
[class*="pic_zoom"]{
	background: url(images/Прямоугольник_4_копия_12.png) no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 20;	
}
[class*="pic_like"]{
	background: url(images/Эллипс_2_копия_5.png) no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 57px;
	right: 16px;
	z-index: 20;
}
[class*="like_border"] {
	background-image: url(images/Прямоугольник\,_скругл._углы_1_копия_17.png);
	width: 30px;
	height: 30px;
}  
[class*="zoom_border"] {
	background-image: url(images/Прямоугольник\,_скругл._углы_1_копия_17.png);
	width: 30px;
	height: 30px; 
	position: absolute;
	top: 10px;
	right: 10px;
}
[class*="like_border"]{
	position: absolute;
	top: 50px;
	right: 10px;
} 
[class*="col_mc_"] > div > h1, p {
	color: #ffffff;
}
[class*="col_mc_"]  > div > h1 {
	font-family: "Roboto";
	font-size: 30px;
	font-weight: 700;
}
[class*="col_mc_"]  > div > p {
	font-weight: 300;	
	font-size: 21px;
	padding-top: 18px;
}
[class*="col_mc_"]  span {
	font-weight: 700;
}
[class*="about_product"]{
	width: 250px;
	height: 213px;
	padding-top: 15px;
	padding-left: 15px;
}
.cost span {
	font-family: Roboto;
	font-size: 48px;
	font-weight: 700;
}
.cost {
	text-align: center;
}
div button {
	width: 210px;
	height: 45px;
	margin-top: 16px;
	color: white;
	border: 1px solid white;
	background-color: rgba(44, 113, 184, 0.7);
	font-size: 21px;
	font-weight: 700;
	font-family: Roboto;		
}
[class*="btn"] {
	width: 220px;
	height: 110px;
	position: relative;
	left: 30px;
	top: 110px;
}
[class*="pic_basket_"]{
	background: url(images/Фигура\ 3\ копия\ 4.png) no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	bottom: -10px;
	z-index: 20;
}
/* БЛОК 2222222222222222222222222222222222 */
.pic_product_2 {
	background: url(images/Фигура\ 4\ копия\ 7.png) no-repeat;
	width: 103px;
	height: 90px;
	position: absolute;
	left: 83px;
	top: 45px;
}
.col_mc_2 {
	margin-left: 30px;
	border: 1px solid white;
}
/* БЛОК 3333333333333333333333333333333333333333333 */
 .pic_product_3 {
	background: url(images/Фигура\ 4\ копия\ 723.png) no-repeat;
	width: 103px;
	height: 110px;
	position: absolute;
	left: 105px;
	top: 40px;
}
.col_mc_3 {
	margin-left: 30px;
	border: 1px solid white;
}
/* БЛОК 44444444444444444444444444444444444444 */
.pic_product_4 {
	background: url(images/icon\ \(16\).png) no-repeat;
	width: 125px;
	height: 105px;
	position: absolute;
	left: 85px;
	top: 60px;
}
.col_mc_4 {
	margin-top: 30px;
	border: 1px solid white;
}
/* БЛОК 5555555555555555555555555555555555555555555 */
.pic_product_5 {
	background: url(images/icon\ \(14\).png) no-repeat;
	width: 103px;
	height: 110px;
	position: absolute;
	left: 105px;
	top: 40px;
}
.col_mc_5 {
	margin-top: 30px;
	margin-left: 30px;
	border: 1px solid white;
} 
/* БЛОК 6666666666666666666666666666666666666666 */
.pic_product_6 {
	background: url(images/icon\ \(12\).png) no-repeat;
	width: 103px;
	height: 110px;
	position: absolute;
	left: 105px;
	top: 40px;
}
.col_mc_6 {
	margin-top: 30px;
	margin-left: 30px;
	border: 1px solid white;
}
/* БЛОК 777777777777777777777777777777777777777 */
.pic_product_7 {
	background: url(images/icon\ \(15\).png) no-repeat;
	width: 103px;
	height: 110px;
	position: absolute;
	left: 105px;
	top: 45px;
}
.col_mc_7 {
	margin-top: 30px;
	border: 1px solid white;
}
/* БЛОК 888888888888888888888888888888888888888888 */
.pic_product_8 {
	background: url(images/icon\ \(11\).png) no-repeat;
	width: 103px;
	height: 90px;
	position: absolute;
	left: 80px;
	top: 45px;
}
.col_mc_8 {
	margin-top: 30px;
	margin-left: 30px;
	border: 1px solid white;
} 
/* БЛОК 9999999999999999999999999999999999999999999 */
.pic_product_9 {
	background: url(images/icon\ \(13\).png) no-repeat;
	width: 103px;
	height: 110px;
	position: absolute;
	left: 105px;
	top: 45px;
}
.col_mc_9 {
	margin-top: 30px;
	margin-left: 30px;
	border: 1px solid white;
}
 div > h2 {
color: white;
font-family: "Roboto";
font-size: 30px;
font-weight: 300;
}
.load_more {
	margin-left: 360px;
	margin-top: 36px;
}
input [class*="check"], [type="checkbox"]{
	display: none;
}
label::before {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border: 1px solid white;
	cursor: pointer;
	position: absolute;
}
input [class*="check"], [type="checkbox"]:checked + label:before  {
	background-color: white;
}
.main_col_3 p {
	text-transform: uppercase;	
	font-family: Roboto;
	font-size: 19px;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 13px;
} 
label {
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	position: relative;
}
aside {

	height: 845px;
	width: 270px;
	padding-left: 30px;
	background-color: rgba(255, 255, 255, 0.5);
}
/* .main_col_3 {
	padding-left: 38px;
} */
label::before {
	top: 5px;
	left: 0px;	
}
[class*="label"]{
	padding-left: 15px;	
}
.main_col_3 aside div div {
	padding: 14px;
}
.main_col_3 aside div button {
	text-transform: uppercase;
	position: absolute;
	background-color: #2c71b8;
}
.text_in_asside {
	text-transform: none;
	font-weight: 300;
	color: white;
}
.slider-block > div {
	padding: 150px 0;
	text-align: center;
	color: white;
	font-size: 50px;
}
.more-details, .add-to-cart {
	cursor: pointer;
}
.footer {
	margin-top: 100px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.75);
}
.footer > p{
	line-height: 100px;
	display: block;
	text-align: center;
	color: #2c71b8;
	font-weight: 300;
	font-size: 21px;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
	z-index: 100;
	display: none;
}
.modal-block {
	width: 300px;
	margin: 80px auto;
	height: 200px;
	border: 2px solid grey;
	background-color: white;
	padding: 15px;
	box-sizing: border-box;
}
.form-fields {
	margin: 10px 0;
}
.form-fields input {
	width: 100%;
	height: 30px;
	padding: 5px;
}
.btn-close {
	height: 0;
	text-align: right;
	position: relative;
	top: 0;
	cursor: pointer;
}
.hide {
	display: none;
}
.show {
	display: block;
}




