* {
	box-sizing: border-box; 
}
/* ширина блоку, в яку входит пединг и бордер */
body {
	font-family: 'Roboto', sans-serif;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.header {
	background-color: antiquewhite;
}